---
layout: default
---
<div class="home">

  <h1 class="page-heading">Artigos</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

 {% if paginator.total_pages > 1 %}
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous"><</a>
    {% else %}
      <span class="previous"><</span>
    {% endif %}
    <span class="page_number ">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">></a>
    {% else %}
      <span class="next ">></span>
    {% endif %}
  </div>
  {% endif %}
</div>
