.post-list {
    li {
        list-style-type: none;
        margin-bottom: 2em;
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
        }
    }
}

.post {
    .post-date {
        margin-top: -1em;
    }

    .post-author {
        margin-bottom: 2em;        
    }

    .avatar {
        width: 32px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle;
    }
}