.post-list {
    li {
        list-style-type: none;
        margin-bottom: 2em;
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
        }
    }
}

.post {
    .post-date {
        margin-top: -1em;
        margin-bottom: 2em;
    }

    .post-author {
        margin-bottom: 2em;        
    }

    .avatar {
        width: 32px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle;
    }
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}