<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700" rel="stylesheet" async>
    <link href="//fonts.googleapis.com/css?family=Merriweather:400" rel="stylesheet" async>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml" />
    <title>{{site.title}}</title>
</head>
<body role="document" ng-strict-di>
    <div class="wrapper">
        <div id="wrapper">
            <nav id="navbar" class="navbar bg-white z-depth- collapsed">
                <div class="container">
                    <div class="brand u-pull-left">
                        <button class="hamburger u-pull-left u-hide-desktop"><hr><hr><hr></button>
                        <a href="http://blip.ai">
                            <img src="/assets/img/brand_36dp.png" class="u-pull-left u-hide-mobile" />
                        </a>                    
                    </div>
                    <ul id="menu" class="nav u-pull-right">
                        <li>
                            <a href="/">Artigos</a>
                        </li>
                        <li>
                            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>              
                        </li>
                        <li>
                            <a href="http://chatbotsbrasil.take.net/" target="_">ChatBots Brasil</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-border"></div>
            </nav>
            <br class="navbar-placeholder" />
            
            <section role="main">
            {{ content }}
            </section>
        </div>

        <footer>
            <div class="container">
                <!-- mobile footer -->
                <div class="row u-hide-desktop">
                    <div class="twelve column text-center">
                        <a target="_blank" href="http://blip.ai/app"><img src="/assets/img/icons/blip-app-white.png" class="icon icon-m" alt="Omni" /></a>
                        <a target="_blank" href="https://www.facebook.com/OMNI-SMS-1618038975100285"><img src="/assets/img/icons/facebook-circle-white.png" class="icon icon-m" alt="Facebook" /></a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=net.take.omni"><img src="/assets/img/icons/android-circle-white.png" class="icon icon-m" alt="Android" /></a>
                    </div>
                    <br class="separator">
                    <div class="twelve column u-no-margin text-center">
                        <small class="text-white">&copy;2016, Blip Mensagens. Todos os direitos reservados.</small>
                    </div>
                    <br class="separator">
                    <div class="twelve column u-no-margin text-center">
                        <a target="_blank" href="http://take.net"><img src="/assets/img/take-logo-white.png" style="width:72px" alt="Take" /></a>
                    </div>
                </div>

                <!-- desktop footer -->
                <div class="row u-hide-mobile">
                    <div class="four columns text-left">
                        <a target="_blank" href="http://take.net"><img src="/assets/img/take-logo-white.png" style="width:72px" alt="Take" /></a>
                    </div>
                    <div class="four columns text-center" style="padding: 18px 0">
                        <span class="u-pull-left">&copy;2016, Blip Mensages. Todos os direitos reservados.</span>
                    </div>
                    <div class="four columns text-right">
                        <a target="_blank" href="http://blip.ai/app"><img src="/assets/img/icons/blip-app-white.png" class="icon icon-sm" alt="Blip App" /></a>
                        <a target="_blank" href="https://www.facebook.com/OMNI-SMS-1618038975100285"><img src="/assets/img/icons/facebook-circle-white.png" class="icon icon-sm" alt="Facebook" /></a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=net.take.omni"><img src="/assets/img/icons/android-circle-white.png" class="icon icon-sm" alt="Android" /></a>
                    </div>
                </div>
            </div>
        </footer>        
    </div>
</body>
</html>
