---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<article class="post container">
  <h2 class="post-title">{{ page.title }}</h2>

{% if author %}
  <div class="post-author">
    {% if author.photo %}<img class="avatar" src="{{author.photo}}"> {% endif %} Por <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> 
  </div>
{% endif %}
  <div class="post-date">{{ page.date | date: "%d/%m/%Y" }}</div>
  {{ content }}

  <ul class="share-buttons">
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}&t={{ page.title }}" title="Compartilhar no Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Compartilhar no Facebook" src="/assets/img/icons/color/Facebook.png"></a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?source={{ page.url }}&text=:%20{{ page.url }}&via=takenet" target="_blank" title="Tweet"
      onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="/assets/img/icons/color/Twitter.png"></a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url={{ page.url }}" target="_blank" title="Compartilhar no Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Compartilhar no Google+" src="/assets/img/icons/color/Google+.png"></a>
  </li>
  <li>
    <a href="http://www.reddit.com/submit?url={{ page.url }}&title={{ page.title }}" target="_blank" title="Postar no Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Postar no Reddit" src="/assets/img/icons/color/Reddit.png"></a>
  </li>
  <li>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary=&source={{ page.url }}" target="_blank"
      title="Compartilhar no LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Compartilhar no LinkedIn" src="/assets/img/icons/color/LinkedIn.png"></a>
  </li>
  <li>
    <a href="mailto:?subject={{ page.title }}&body=:%20{{ page.url }}" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="/assets/img/icons/color/Email.png"></a>
  </li>
  </ul>
</article>

{% if page.comments %}
<div id="disqus_thread" class="container"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        this.page.url = "{{site.url}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ page.id | slugify }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//blog-blip-ai.disqus.com/embed.js'; 
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}