---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<article class="post container">
  <h2 class="post-title">{{ page.title }}</h2>

{% if author %}
  <div class="post-author">
    {% if author.photo %}<img class="avatar" src="{{author.photo}}"> {% endif %} Por <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> 
  </div>
{% endif %}
  <div class="post-date">{{ page.date | date: "%d/%m/%Y" }}</div>
  {{ content }}

  <div class="share-page">
      <p>
        Compartilhe este artigo &rarr;
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Compartilhe no Twitter">Twitter</a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartilhe no Facebook">Facebook</a>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartilhe no Google+">Google+</a>        
      </p>
  </div>  
</article>

{% if page.comments %}
<div id="disqus_thread" class="container"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        this.page.url = "{{site.url}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ page.id | slugify }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//blog-blip-ai.disqus.com/embed.js'; 
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}