* {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

#wrapper {
    position: relative;
}

.wrapper {
    min-height: 100%;
    height: 100%;
}


section {
    padding: 3.6rem;
}

article {
    padding: 2.4rem 0.9rem;
    @include desktop {
        padding: 2.4rem;
    }
}

.container {
    max-width: 1075px;
}

.container-small {
    max-width: 685px;
}

.container-sidenav {
    padding-left: 48px;
    padding-right: 12px;
}

.container-tiny {
    max-width: 480px;
}

.row {
    margin-top: 0.3rem;
    margin-bottom: 0.9rem;
}

.one-half.column {
    margin-left: 4%;
    width: 48%;
    &:first-child { margin-left: 0; }
    @include mobile {
        &.no-mobile {
            margin-left: 0;
            width: 100%;
        }
    }
}

.row-grid {
    .clear-after + .column,
    .clear-after + .columns {
        margin-left: 0;
    }
}

@include desktop {
    .offset-by-one-half.column,
    .offset-by-one-half.columns { margin-left: 52% !important; }
}

.bottom {
    position: absolute;
    bottom: 0;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}

br.separator {
    line-height: 2.4rem;
    height: 2.4rem;
    clear: both;
}

@include desktop {
    br.separator {
        line-height: 3.6rem;
        height: 3.6rem;
    }
}

/* Skeleton */
.mobile-grid {
    .column,
    .columns {
    margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
    margin-left: 0; }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
}
